    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="领效,AdlinkxDSP,领效DSP,大数据平台">
    <meta name="description" content="杭州领效科技有限公司 领效DSP（AdlinkxDSP）作为一家创新型电商大数据营销企业，几年来依托专业的技术实力及持续不断的产品创新，已成功跻身为数字营销领域的先驱者。其自有的大数据平台每日处理用户曝光量累计可达100亿，全面覆盖4.3亿在线网民，为电商客户提供广告大数据营销、行业买家/卖家人群分析、舆情监测、数据增值等多项服务。">
    <meta name="company" content="杭州领效科技有限公司">
    <meta name="author" content="bluelife" />
    <meta name="email" content="thebulelife@outlook.com" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/png">
    <title>领效DSP</title>
    <link href="/resources/css/style.default.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/resources/css/public.css" />
    <link rel="stylesheet" type="text/css" href="/resources/css/qapTcha.jquery_taobao.css" />
    <link rel="stylesheet" type="text/css" href="/resources/css/loading.css" />
    <script type="text/javascript" src="/resources/js/libarays/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/resources/js/libarays/jquery-ui-1.8.23.js"></script>
    <script type="text/javascript" src="/resources/js/libarays/jquery-ui-touch-plugin.min.js"></script>
    <script type="text/javascript" src="/resources/js/libarays/qapTcha.jquery_taobao.js"></script>
    <script type="text/javascript" src="/resources/js/libarays/zepto.min.js"></script>
    <script type="text/javascript" src="/resources/js/libarays/md5.js"></script>
    <script type="text/javascript" src="/resources/js/public.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
  <script src="/resources/js/libarays/html5shiv.js"></script>
  <script src="/resources/js/libarays/respond.min.js"></script>
  <![endif]-->