<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="领效,adlink,领效DSP,大数据平台">
    <meta name="description" content="杭州领效科技有限公司 领效DSP（AdlinkDsp）作为一家创新型电商大数据营销企业，几年来依托专业的技术实力及持续不断的产品创新，已成功跻身为数字营销领域的先驱者。其自有的大数据平台每日处理用户曝光量累计可达100亿，全面覆盖4.3亿在线网民，为电商客户提供广告大数据营销、行业买家/卖家人群分析、舆情监测、数据增值等多项服务。">
    <meta name="company" content="杭州领效科技有限公司">
    <meta name="author" content="bluelife" />
    <meta name="email" content="thebulelife@outlook.com" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/png">
    <title>AdlinkDsp|注册</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/public.css" />
    <link rel="stylesheet" type="text/css" href="/resources/css/login.css" />
    <link rel="stylesheet" type="text/css" href="/resources/css/qapTcha.jquery_taobao.css" />
    <link rel="stylesheet" type="text/css" href="/resources/css/loading.css" />
    <script type="text/javascript" src="/resources/js/libarays/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/resources/js/libarays/jquery-ui-1.8.23.js"></script>
    <script type="text/javascript" src="/resources/js/libarays/jquery-ui-touch-plugin.min.js"></script>
    <script type="text/javascript" src="/resources/js/libarays/qapTcha.jquery_taobao.js"></script>
    <script type="text/javascript" src="/resources/js/libarays/zepto.min.js"></script>
    <script type="text/javascript" src="/resources/js/libarays/md5.js"></script>
    <script type="text/javascript" src="/resources/js/public.js"></script>
</head>

<body>
    <div class="page-bg-block h710">
        <div class="log-block">
            <div class="log-img-block"><img src="/resources/images/login-logo.png"></div>
            <div class="log-text-block">AdlinkDsp|注册</div>
        </div>
        <div class="form-list">
            <label for="account"></label>
            <input type="text" name="account" id="account" placeholder="输入用户名/邮箱/手机号" value="" />
        </div>
        <div class="account-tip">用户名不能为空;</div>
        <div class="form-list">
            <label for="passwd"></label>
            <input type="password" name="passwd" id="passwd" placeholder="" value="" />
        </div>
        <div class="passwd-tip">密码不能为空;</div>
        <div class="form-list">
            <label for="confirm-passwd"></label>
            <input type="password" name="confirm-passwd" id="confirm-passwd" placeholder="" value="" />
        </div>
        <div class="confirm-passwd-tip">密码不能为空;</div>
        <div class="form-list">
            <label for="email"></label>
            <input type="text" name="email" id="email" placeholder="xxx@xxx.com" value="" />
        </div>
        <div class="email-tip">邮箱不能为空;</div>
        <div class="form-list">
            <label for="phone"></label>
            <input type="text" name="phone" id="phone" placeholder="输入手机号" value="" />
        </div>
        <div class="phone-tip">手机号码不能为空;</div>
        <div class="form-list"><div id="QapTcha" class="QapTcha"></div></div>
        <div class="form-list"><a href='javascript:void(0);' class="simulation-submit-buts" data-submit-type="register">注册</a></div>
        <div class="form-list"><a href='javascript:void(0);' class="simulation-ckeckbox-but" data-checked="true" data-type="agreement">我同意服务和隐私政策的条款</a><span class="link-block">已经注册过帐号<a href="/user/login" class="register-link">登录</a></span></div>
    </div>
</body>
<script type="text/javascript" src="/resources/js/sign.js"></script>
</html>
