<!DOCTYPE html>
<html>
<head>
    <{include file="common/header.html"}>
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <section>
        <{include file="common/leftpanel.html"}>
        <!-- leftpanel -->
        <div class="mainpanel">
            <{include file="common/headerbar.html"}>
            <!-- headerbar -->
            <div class="pageheader">
                <h2><i class="fa fa-file-text-o"></i>首页<span>运营管理</span> <span>操作日志</span></h2>
                <div class="breadcrumb-wrapper">
                    <span class="label">在这里</span>
                    <ol class="breadcrumb">
                        <li><a href="https://www.adlinkx.com">返回</a></li>
                        <li class="active">首页</li>
                    </ol>
                </div>
            </div>
            <div class="contentpanel">
                <div class="panel panel-default">
                    <div class="panel-heading">用户操作日志</div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="table2">
                                <thead>
                                    <tr>
                                        <th>用户ID</th>
                                        <th>记录</th>
                                        <th>描述</th>
                                        <th>IP</th>
                                        <th>时间</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <{foreach $logers as $loger}>
                                    <!-- {var_dump($loger.uid)} -->
                                    <tr class="gradeA">
                                        <td><{$loger.uid}></td>
                                        <td><{$loger.actions}></td>
                                        <td><{$loger.remarks}></td>
                                        <td class="center"><{$loger.ip}></td>
                                        <td class="center"><{$loger.timer}></td>
                                        <td class="center">
                                            <{if $loger.group eq '' && $loger.permissions eq 'rw'}>
                                            <a href="javascript:void(0);" class="actions-buts" data-uid="{$loger.uid}" data-group="{$loger.group}" data-permissions="{$loger.permissions}" data-type="delete">删除</a> <{else}>
                                            <a href="javascript:void(0);" class="actions-buts" data-uid="{$loger.uid}" data-group="{$loger.group}" data-permissions="{$loger.permissions}" data-type="read">查看</a> <{/if}>
                                        </td>
                                    </tr>
                                    <{/foreach}>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- contentpanel -->
            <{include file="common/footerbar.html"}>
        </div>
        <!-- mainpanel -->
    </section>
    <script src="/resources/js/libarays/bootstrap.min.js"></script>
    <script src="/resources/js/libarays/jquery.sparkline.min.js"></script>
    <script src="/resources/js/libarays/toggles.min.js"></script>
    <script src="/resources/js/libarays/jquery.cookies.js"></script>
    <script src="/resources/js/libarays/custom.js"></script>
    <script>
    jQuery(document).ready(function() {
        "use strict";
    });
    </script>
</body>

</html>
