<!DOCTYPE html>
<html>
<head>
    <{include file="common/header.html"}>
    <link rel="stylesheet" type="text/css" href="/resources/css/home.css">
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <section>
        <{include file="common/leftpanel.html"}>
        <!-- leftpanel -->
        <div class="mainpanel">
            <{include file="common/headerbar.html"}>
            <!-- headerbar -->
            <div class="pageheader">
                <h2><i class="fa fa-paper-plane"></i>首页<span>数据统计</span></h2>
                        <div class="breadcrumb-wrapper">
                            <div class="select-brands-title">网站选择：</div>
                            <div class="select-brands-but" data-is-click="false"><{if $store|@count neq 0}><span id="store-title-box" data-shop-id="<{$store[0].shop_id}>"><{$store[0].shop_title}></span><i class="fa fa-caret-right" style="position:absolute;left:160px;top:0;border:none;margin:0 0 0 10px;"></i><{else}><span id="store-title-box" data-shop-id="">全部</span><i class="fa fa-caret-right" style="position:absolute;left:160px;top:0;border:none;margin:0 0 0 10px;"></i><{/if}></div>
                            <div class="brands-lists-block" style="display:none;">
                            <{if $store|@count neq 0}>
                                <div class="brands-lists" data-shop-id="">全部</div>
                                <{foreach $store item=list key=i}>
                                    <div class="brands-lists" data-shop-id="<{$list.shop_id}>"><{$list.shop_title}></div>
                                <{/foreach}>
                            <{else}>
                                <div class="brands-lists" data-shop-id="">全部</div>
                            <{/if}>
                            </div>
                        </div>
            </div>
            <div class="contentpanel">
                <div class="home-block-box" data-is-hidden="false">
                    <div class="home-header-box"><span>概况</span><span class="show-hidden-but" data-click="false" data-type="overview"><i class="fa fa-chevron-down"></i></span></div>
                    <div class="home-body-box">
                        <div class="account-money-box">
                            <p>帐户余额</p>
                            <span><{$user.money}></span>￥
                        </div>
                        <div class="yestady-consume-box">
                            <p>昨日消耗</p>
                            <span><{$user.charge_today}></span>￥
                        </div>
                        <div class="tady-budget-box">
                            <p>今日预算</p>
                            <span><{if $launch|@count neq 0}><{$launch[0].budget}><{else}>0.00<{/if}></span>￥
                        </div>
                        <div class="launch-num-box">
                            <p>投放中的计划个数</p>
                            <span><{$start_launch_num}>/<{$launch_num}></span>
                        </div>
                    </div>
                </div>
                <div class="home-block-box" data-is-hidden="false" style="height:550px;">
                    <div class="home-header-box"><span><i class="fa fa-pie-chart"></i>&nbsp;数据趋势</span><span class="show-hidden-but" data-click="false" data-type=""><i class="fa fa-chevron-down"></i></span></div>
                    <div class="home-body-box" style="height:500px;">
                        <div class="home-body-fn-box">
                            <a href="javascript:void(0);" data-shop-id="<{if $store|@count neq 0}><{$store[0].shop_id}><{else}><{/if}>" data-fn="month" class="home-function-but month-but">按月</a>
                            <a href="javascript:void(0);" data-shop-id="<{if $store|@count neq 0}><{$store[0].shop_id}><{else}><{/if}>" data-fn="week" class="home-function-but week-but">按周</a>
                            <a href="javascript:void(0);" data-shop-id="<{if $store|@count neq 0}><{$store[0].shop_id}><{else}><{/if}>" data-fn="day" class="home-function-but day-but">按天</a>
                        </div>
                        <div id="main" style="width: 100%;height:400px;"></div>
                    </div>
                </div>
            </div>
            <{include file="common/footerbar.html"}>
            <!-- contentpanel -->
        </div>
        <!-- mainpanel -->
    </section>
    <script src="/resources/js/libarays/jquery-1.11.1.min.js"></script>
    <script src="/resources/js/libarays/jquery-migrate-1.2.1.min.js"></script>
    <script src="/resources/js/libarays/jquery-ui-1.10.3.min.js"></script>
    <script src="/resources/js/libarays/bootstrap.min.js"></script>
    <script src="/resources/js/libarays/modernizr.min.js"></script>
    <script src="/resources/js/libarays/jquery.sparkline.min.js"></script>
    <script src="/resources/js/libarays/toggles.min.js"></script>
  <!--   <script src="/resources/js/libarays/retina.min.js"></script> -->
    <script src="/resources/js/libarays/jquery.cookies.js"></script>
    <!-- <script src="/resources/js/libarays/flot/jquery.flot.min.js"></script>
    <script src="/resources/js/libarays/flot/jquery.flot.resize.min.js"></script>
    <script src="/resources/js/libarays/flot/jquery.flot.spline.min.js"></script> -->
    <script src="/resources/js/libarays/morris.min.js"></script>
    <script src="/resources/js/libarays/raphael-2.1.0.min.js"></script>
    <script src="/resources/js/libarays/custom.js"></script>
    <!-- <script src="/resources/js/libarays/dashboard.js"></script> -->
    <script>
        jQuery(document).ready(function(){
            $(document).on('click','.show-hidden-but',function(){
                if($(this).attr('data-click') == 'false'){
                    $(this).attr('data-click',true);
                    $(this).find('i').removeClass('fa-chevron-down').addClass('fa-chevron-up');
                    $(this).parent().parent().css({'height':50,'overflow':'hidden'});
                }else{
                    $(this).attr('data-click',false);
                    $(this).find('i').removeClass('fa-chevron-up').addClass('fa-chevron-down');
                    if($(this).attr('data-type') == 'overview'){
                        $(this).parent().parent().css('height',150);
                    }else{
                        $(this).parent().parent().css('height',550);
                    }
                    
                }
            });

            $(document).on('click','.select-brands-but',function(e){
                e.stopPropagation();
                if($(this).attr('data-is-click') == 'false'){
                    $(this).find('i').removeClass('fa-caret-right').addClass('fa-caret-down');
                    $(this).attr('data-is-click',true);
                    $('.brands-lists-block').css('display','block');
                }else{
                    $(this).find('i').removeClass('fa-caret-down').addClass('fa-caret-right');
                    $(this).attr('data-is-click',false);
                    $('.brands-lists-block').css('display','none');
                }
            });

            $(document).on('click','.brands-lists',function(e){
            $('#store-title-box').html($(this).html()).attr('data-shop-id',$(this).attr('data-shop-id'));
            $('.select-brands-but').attr('data-is-click',false);
            $('.select-brands-but').find('i').removeClass('fa-caret-down').addClass('fa-caret-right');
            $('.brands-lists-block').css('display','none');
            // get_strategy_list($(this).attr('data-plan-id'),'');
        });

            $(document).on('click',function(){
                $('.select-brands-but').attr('data-is-click',false);
                $('.select-brands-but').find('i').removeClass('fa-caret-down').addClass('fa-caret-right');
                $('.brands-lists-block').css('display','none');
            });

            $(document).on('click','.home-function-but',function(){
                $('.home-function-but').removeClass('active').css('background','#fff');
                $(this).addClass('active').css('background','#e6e6e6');
                var fn = $(this).attr('data-fn');
                console.log(fn);
            });

            drag_line();
            function drag_line(){
                var myChart = echarts.init(document.getElementById('main'));
                option = {
                    title: {
                        text: '折线图堆叠'
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data:['展现','点击','点击率','总消耗']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: ['周一','周二','周三','周四','周五','周六','周日']
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            name:'展现',
                            type:'line',
                            stack: '总量',
                            data:[0, 0, 0, 0, 0, 0, 0]
                        },
                        {
                            name:'点击',
                            type:'line',
                            stack: '总量',
                            data:[0, 0, 0, 0, 0, 0, 0]
                        },
                        {
                            name:'点击率',
                            type:'line',
                            stack: '总量',
                            data:[0, 0, 0, 0, 0, 0, 0]
                        },
                        {
                            name:'总消耗',
                            type:'line',
                            stack: '总量',
                            data:[0, 0, 0, 0, 0, 0, 0]
                        }
                    ]
                };

                myChart.setOption(option);
            }
        });
    </script>
</body>

</html>
