html {
    font-size: 14px;
}

body {
    width: 100%;
    height: 100%;
    background: #1d2939;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none
}

li,
p,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

label,
input {
    padding: 0;
    margin: 0;
}

.page-bg-block {
    width: 500px;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #c1c1c1;
    margin: 230px auto;
    position: relative;
    -moz-box-shadow: 2px 2px 4px #626262;
    -webkit-box-shadow: 2px 2px 4px #626262;
    -ms-box-shadow: 2px 2px 4px #626262;
    -o-box-shadow: 2px 2px 4px #626262;
    box-shadow: 2px 2px 4px #626262;
}

.h440 {
    height: 440px;
}

.h480 {
    height: 480px;
}

.h710 {
    height: 710px;
}




/** 
 * add style by junmei for 2017-08-29
 */

.page-title {
    float: left;
    width: 50%;
    height: 30px;
    line-height: 30px;
}

.add-but-block {
    float: left;
    width: 50%;
    height: 30px;
}

.add-buts,.export-buts{
    float: right;
    color: #FFF;
}

.add-buts:hover,.export-buts:hover{
    color: #FFF;
}

.space-box {
    clear: both;
}

.but-24ac45 {
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background: #24ac45;
    border: 1px solid #1e8e39;
    border-radius: 2px;
    color: #FFF;
}

.but-0781ec{
	display:block;
	width:100px;
	height:30px;
	line-height:30px;
	background:#0781ec;
	border:1px solid #066eca;
	border-radius:3px;
}

.ml10 {
    margin-left: 10px;
}

.mr1 {
    margin-right: 1px;
}

.mr2 {
    margin-right: 2px;
}

.mr3 {
    margin-right: 3px;
}

.mr4 {
    margin-right: 4px;
}

.mr5 {
    margin-right: 5px;
}

.mr6 {
    margin-right: 6px;
}

.mr7 {
    margin-right: 7px;
}

.mr8 {
    margin-right: 8px;
}

.mr9 {
    margin-right: 9px;
}

.mr10 {
    margin-right: 10px;
}

/**
 * store lsts by junmei for 2017-08-29
 */
.edit-store{margin:0 0 0 10px;}