<!DOCTYPE html>
<html>

<head>
    <{include file="common/header.html" }>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <section>
        <{include file="common/leftpanel.html" }>
            <!-- leftpanel -->
            <div class="mainpanel">
                <{include file="common/headerbar.html" }>
                    <!-- headerbar -->
                    <div class="pageheader">
                        <h2><i class="fa fa-paper-plane"></i>首页<span>活动管理</span> <span>投放管理</span></h2>
                        <div class="breadcrumb-wrapper">
                            <div class="select-brands-title">品牌选择：</div>
                            <div class="select-brands-but">全部</div>
                            <div class="brands-lists-block" style="display:none;">
                                <div class="brands-lists" data-shop-id="">全部</div>
                                <{foreach $store_lists item=store key=i}>
                                    <div class="brands-lists" data-shop-id="<{$store.shop_id}>"><{$store.shop_title}></div>
                                <{/foreach}>
                            </div>
                        </div>
                    </div>
                    <div class="contentpanel">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="page-title">投放管理</div>
                                <div class="add-but-block"><a class="add-buts but-24ac45" href="/step/edit/campaign/launch/1"><i class="fa fa-plus-circle ml10 mr4"></i>新增投放</a></div>
                                <div class="space-box"></div>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <div class="table-header-bloxk-box">
                                        <a class="select-all-buts"><i class="fa fa-check-square-o fa-lg"></i>&nbsp;全选</a>
                                        <a class="delete-all-buts"><i class="fa fa-trash-o fa-lg"></i>&nbsp;批量删除</a>
                                        <a class="start-buts"><i class="fa fa-play-circle fa-lg"></i>&nbsp;开户</a>
                                        <a class="stop-buts"><i class="fa fa-pause-circle fa-lg"></i>&nbsp;暂停</a>
                                        <span class="sreach-block-box">
                                            <label>搜索：</label><input type="text/submit/hidden/button/etc" name="launch-search" value="" placeholder="输入要搜索的内容" id=launch-search-keyword><a href="javascript:void(0);" class="launch-search-buts">确定</a>
                                        </span>
                                    </div>
                                    <table class="table table-striped" id="table2">
                                        <thead>                      
                                            <tr>
                                                <th>序号</th>
                                                <th>推广计划</th>
                                                <th>状态</th>
                                                <th>投放时间</th>
                                                <th>每日预算</th>
                                                <th>投放类型</th>
                                                <th>展现量</th>
                                                <th>点击数</th>
                                                <th>点击率</th>
                                                <th>点击单价</th>
                                                <th>消耗</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <{foreach $result item=lists key=i}>
                                                <tr>
                                                    <td><a href="javascript:void(0);" class="select-buts" data-is-checked="false"><i class="fa fa-square-o"></i>&nbsp;<{$i+1}></a></td>
                                                    <td><a href="/strategyMange/lists/campaign/strategy/<{$lists.plan_id}>/<{$lists.shop_id}>" class=""><{$lists.plan_name}></a></td>
                                                    <td><{if $lists.status eq 1}>开户<{else}>已暂停<{/if}></td>
                                                    <td><{$lists.startdate}>~<{$lists.enddate}></td>
                                                    <td><{if $lists.budget eq 0}>不限<{else}><{$lists.budget}><{/if}></td>
                                                    <td><{if $lists.device eq 1}>PC端<{elseif $lists.device eq 2}>无线端<{elseif $lists.device eq 3}>APP<{elseif $lists.device eq 4}>Native<{else}>不限设备<{/if}></td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td><a href="javascript:void(0);" data-uid="<{$lists.uid}>" data-shop-id="<{$lists.shop_id}>" data-plan-id="<{$lists.plan_id}>" class="launch-list-delete-but"><i class="fa fa-trash-o"></i></a><a href="/step/edit/campaign/launch/1/<{$lists.plan_id}>/<{$lists.shop_id}>" class="launch-list-edit-buts"><i class="fa fa-edit"></i></a></td>
                                                </tr>
                                            <{/foreach}>
                                        </tbody>
                                    </table>
                                    <div id="pages-box" data-count="<{$count}>" data-current="<{$current}>"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- contentpanel -->
                    <{include file="common/footerbar.html" }>
            </div>
            <!-- mainpanel -->
    </section>
    <script src="/resources/js/libarays/bootstrap.min.js"></script>
    <script src="/resources/js/libarays/jquery.sparkline.min.js"></script>
    <script src="/resources/js/libarays/toggles.min.js"></script>
    <script src="/resources/js/libarays/jquery.cookies.js"></script>
    <script src="/resources/js/libarays/custom.js"></script>
    <script>
    jQuery(document).ready(function() {
        ADLINKX.pages({
            id: 'pages-box',
            first: {
                text: '首页',
                callback: null,
                enable:true
            },
            last: {
                text: '尾页',
                callback: null,
                enable:true
            },
            next: {
                text: '下一页',
                callback: null,
                enable:true
            },
            previ: {
                text: '上一页',
                callback: null,
                enable:true
            },
            search: {
                text: '搜索',
                callback: null,
                enable:true
            },
            count: $('#pages-box').attr('data-count'),
            current: $('#pages-box').attr('data-current'),
            num:20,
            color: '#0781ec',
            is_ajax: true,
            url:'/ajax_api/store/lists/0/0/',
            callback:function(res){
                console.log(res);
            }
        });
        $(document).on('click','.select-brands-but',function(e){
            e.stopPropagation();
            $('.brands-lists-block').css('display','block');
        });
        $(document).on('click','.brands-lists',function(e){
            $('.select-brands-but').html($(this).html()).attr('data-shop-id',$(this).attr('data-shop-id'));
            $('.brands-lists-block').css('display','none');

        });
        $(document).on('click',function(){
            $('.brands-lists-block').css('display','none');
        });
    });
    </script>
</body>

</html>