<!DOCTYPE html>
<html>

<head>
    <{include file="common/header.html" }>
    <!-- <{if $action eq 'creative' and $step eq 3}>
        <link rel="stylesheet" type="text/css" href="/resources/js/libarays/zyupload/css/zyUpload.css" />
    <{/if}> -->
        <script type="text/javascript">
            window.local_tags = null;
            <{if $action eq 'strategy' and $step eq 2}>
                var url = '/strategyMange/add';
                var fn = 'strategy';
            <{elseif $action eq 'creative' and $step eq 3}>
                var url = '/creativeMange/add';
                var fn = 'creative';
            <{else}>
                var url = '/launchMange/add';
                var fn = 'launch'; 
            <{/if}>
        </script>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <section>
        <{include file="common/leftpanel.html" }>
            <!-- leftpanel -->
            <div class="mainpanel">
                <{include file="common/headerbar.html" }>
                    <!-- headerbar -->
                    <div class="pageheader">
                        <h2><i class="fa fa-tasks"></i>首页<span>活动管理</span> <span><{if $step eq 1}>编辑投放<{elseif $step eq 2}>编辑策略<{else}>编辑创意<{/if}></span></h2>
                        <div class="breadcrumb-wrapper">
                            <span class="label">在这里</span>
                            <ol class="breadcrumb">
                                <li><a href="https://www.adlinkx.com">返回</a></li>
                                <li class="active">首页</li>
                            </ol>
                        </div>
                    </div>
                    <div class="contentpanel">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <{if $model eq 'campaign'}>
                                    <div class="page-title"><span style="font-size:25px;font-weight:bold;margin-right:10px;">投放管理</span>
                                        <{if $action eq 'strategy'}>
                                            <span style="font-size:15px;">编辑策略</span>
                                            <{elseif $action eq 'creative'}>
                                                <span style="font-size:15px;">编辑创意</span>
                                                <{else}>
                                                    <span style="font-size:15px;">编辑投放</span>
                                                    <{/if}>
                                    </div>
                                    <div class="space-box"></div>
                                    <{/if}>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <div class="step-bar">
                                        <div class="step-default-bg-bar"></div>
                                        <{if $step eq 2}>
                                            <div class="step-current-bg-bar" style="width:54%"></div>
                                            <ul class="ste-bar-but-box">
                                                <li class="step-bar-step1-box">
                                                    <a href="javascript:void(0);" class="step-bar-step1"><i class="fa fa-check"></i></a>
                                                    <span class="step-bar-text">添加投放</span>
                                                </li>
                                                <li class="step-bar-step2-box">
                                                    <a href="javascript:void(0);" class="step-bar-step2"><i class="fa fa-chevron-right"></i></a>
                                                    <span class="step-bar-text">添加策略</span>
                                                </li>
                                                <li class="step-bar-step3-box">
                                                    <a href="javascript:void(0);" class="step-bar-step3"><i class=""></i></a>
                                                    <span class="step-bar-text" style="color:#DBDBDB">添加创意</span>
                                                </li>
                                            </ul>
                                            <{elseif $step eq 3}>
                                                <div class="step-current-bg-bar" style="width:84%"></div>
                                                <ul class="ste-bar-but-box">
                                                    <li class="step-bar-step1-box">
                                                        <a href="javascript:void(0);" class="step-bar-step1"><i class="fa fa-check"></i></a>
                                                        <span class="step-bar-text">添加投放</span>
                                                    </li>
                                                    <li class="step-bar-step2-box">
                                                        <a href="javascript:void(0);" class="step-bar-step2" style="color:#077FE6;border-color:#077FE6;"><i class="fa fa-check"></i></a>
                                                        <span class="step-bar-text">添加策略</span>
                                                    </li>
                                                    <li class="step-bar-step3-box">
                                                        <a href="javascript:void(0);" class="step-bar-step3" style="color:#1CB841;border-color:#1CB841"><i class="fa fa-chevron-right"></i></a>
                                                        <span class="step-bar-text">添加创意</span>
                                                    </li>
                                                </ul>
                                                <{else}>
                                                    <div class="step-current-bg-bar" style="width:24%"></div>
                                                    <ul class="ste-bar-but-box">
                                                        <li class="step-bar-step1-box">
                                                            <a href="javascript:void(0);" class="step-bar-step1" style="color:#1CB841;border-color:#1CB841"><i class="fa fa-chevron-right"></i></a>
                                                            <span class="step-bar-text">添加投放</span>
                                                        </li>
                                                        <li class="step-bar-step2-box">
                                                            <a href="javascript:void(0);" class="step-bar-step2" style="border:10px solid #DBDBDB;"><i class=""></i></a>
                                                            <span class="step-bar-text" style="color:#DBDBDB">添加策略</span>
                                                        </li>
                                                        <li class="step-bar-step3-box">
                                                            <a href="javascript:void(0);" class="step-bar-step3"><i class=""></i></a>
                                                            <span class="step-bar-text" style="color:#DBDBDB">添加创意</span>
                                                        </li>
                                                    </ul>
                                                    <{/if}>
                                    </div>
                                    <div class="step-content-block-box">
                                        <{if $action eq 'strategy' and $step eq 2}>
                                            <!--添加/编辑策略信息-->
                                            <div class="step-public-block-box">
                                                <div class="step-public-title-block">策略信息</div>
                                                <div class="form-group-block-box">
                                                    <div class="form-list-block-box">
                                                        <div class="form-controller">策略名称：</div>
                                                        <div class="form-input-block">
                                                            <input type="" name="plan-name" value="" id="plan-name" placeholder="策略名称" />
                                                        </div>
                                                        <div class="form-tip-block">策略名称必填</div>
                                                    </div>
                                                    <div class="form-list-block-box">
                                                        <div class="form-controller">设置出价：</div>
                                                        <div class="form-input-block">
                                                            <input type="" name="budget-value" value="" id="budget-value" placeholder="设置出价,建议0.5~3元" />
                                                        </div>
                                                        <div class="form-tip-block">设置出价。</div>
                                                    </div>
                                                </div>
                                                <div class="label-market"></div>
                                            </div>
                                            <{elseif $action eq 'creative' and $step eq 3}>
                                                <!--添加/编辑创意信息-->
                                                <div class="step-public-block-box">
                                                    <div class="step-public-title-block">创意信息</div>
                                                    <div class="form-group-block-box">
                                                        <div class="form-list-block-box">
                                                            <div class="form-controller">创意名称：</div>
                                                            <div class="form-input-block">
                                                                <input type="" name="plan-name" value="" id="plan-name" placeholder="创意名称" />
                                                            </div>
                                                            <div class="form-tip-block">创意名称必填</div>
                                                        </div>
                                                        <div class="form-list-block-box">
                                                            <div class="form-controller">创意连接：</div>
                                                            <div class="form-input-block">
                                                                <input type="" name="plan-name" value="" id="plan-name" placeholder="https://" />
                                                            </div>
                                                            <div class="form-tip-block">创意连接必填</div>
                                                        </div>
                                                        <div class="form-list-block-box">
                                                            <div class="form-controller">第三方监测连接：</div>
                                                            <div class="form-input-block">
                                                                <input type="" name="plan-name" value="" id="plan-name" placeholder="https://" />
                                                            </div>
                                                            <div class="form-tip-block">第三方监测连接必填</div>
                                                        </div>
                                                        <div class="form-list-block-box">
                                                            <div class="form-controller">第三方爆光连接：</div>
                                                            <div class="form-input-block">
                                                                <input type="" name="plan-name" value="" id="plan-name" placeholder="https://" />
                                                            </div>
                                                            <div class="form-tip-block">第三方爆光连接必填</div>
                                                        </div>
                                                        <div class="form-list-block-box" style="height:120px;">
                                                            <div class="form-controller" style="height:120px;">有效素材尺寸：</div>
                                                            <div class="form-tip-block" style="width:400px;height:120px;font-size:14px;line-height: 16px;">100*260, 100*300, 1000*90, 1190*90, 120*240, 120*600, 130*370, 160*600, 160*80, 170*160, 180*150, 180*90, 190*90, 200*200, 230*80, 240*240, 240*400, 250*250, 284*40, 300*100, 300*250, 300*50, 300*550, 300*600, 315*80, 320*48, 320*50, 336*280, 468*60, 500*200, 500*280, 500*50, 580*90, 610*100, 620*100, 640*100, 640*60, 640*90, 670*30, 728*90, 760*90, 950*90, 960*60, 960*90, 970*60, 970*90, 980*40, 980*90, 990*60,</div>
                                                        </div>
                                                        <div class="form-list-block-box">
                                                            <div class="form-controller">有效素材格式：</div>
                                                            <div class="form-tip-block">JPG,PNG,GIF,SWF,WMV,AVI,FLV,3GP</div>
                                                        </div>
                                                        <div class="form-list-block-box">
                                                            <div class="form-controller">素材来源：</div>
                                                            <div class="form-tip-block"><a href="javascript:void(0);" class="creative-source-switch-buts" data-is-checked="true" style="background:url(/resources/images/radio_checked_bg.png) no-repeat 0 10px;">上传素材</a><a href="javascript:void(0);" data-is-checked="false" class="creative-source-switch-buts">自定义地址</a></div>
                                                        </div>
                                                        <div class="add-creative-block" style="display:block;">
                                                            <div class="form-list-block-box">
                                                                <div class="form-controller">上传素材：</div>
                                                                <div class="form-tip-block" style="width:750px;"><a href="javascript:void(0);" class="upload-creative-buts"><i class="fa fa-upload">上传</i></a><input type="file" id="upload-file-but" name="files" /></div>
                                                            </div>
                                                            <div class="creative-upload-show-box">
                                                                <div class="creative-material-default-img-block">
                                                                    <img class="img-thumbnail creative_material_default" id="creative_material_default" data-src="holder.js/310x260/text:未上传" alt="未上传" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMTAiIGhlaWdodD0iMjYwIj48cmVjdCB3aWR0aD0iMzEwIiBoZWlnaHQ9IjI2MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjE1NSIgeT0iMTMwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE5cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+5pyq5LiK5LygPC90ZXh0Pjwvc3ZnPg==" style="width: 310px; height: 260px;margin:0 0 0 250px;z-index:0">
                                                                </div>
                                                                <div class="creative-material-default-img-link img-thumbnail-link">
                                                                    http://baidu.com
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="add-creative-block">
                                                            <div class="form-list-block-box">
                                                                <div class="form-controller">素材地址：</div>
                                                                <div class="form-input-block">
                                                                    <input type="" name="plan-name" value="" id="plan-name" placeholder="https://" />
                                                                </div>
                                                                <div class="form-tip-block">素材地址必填</div>
                                                            </div>
                                                            <div class="form-list-block-box">
                                                                <div class="form-controller">素材尺寸：</div>
                                                                <div class="form-input-block">
                                                                    <div style="float:left;">
                                                                        <span style="display:block;float:left;width:30px;height:40px;line-height: 40px;">宽：</span><input type="" name="creative-width" value="" id="creative-width" placeholder="" style="width:120px;" />
                                                                    </div>
                                                                    <div style="float:left;margin:0 0 0 10px;">
                                                                        <span style="display:block;float:left;width:30px;height:40px;line-height: 40px;">高：</span><input type="" name="creative-height" value="" id="creative-height" placeholder="" style="width:120px;" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-tip-block">素材尺寸必填</div>
                                                            </div>
                                                            <div class="form-list-block-box">
                                                                <div class="form-controller">素材格式：</div>
                                                                <div class="form-input-block">
                                                                    <select name="creative-type" id="creative-type">
                                                                        <option value="jpg">JPG</option>
                                                                        <option value="png">PNG</option>
                                                                        <option value="gif">GIF</option>
                                                                        <option value="swf">SWF</option>
                                                                        <option value="wmv">WMV</option>
                                                                        <option value="flv">FLV</option>
                                                                        <option value="avi">AVI</option>
                                                                        <option value="3gp">3GP</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-tip-block">第三方爆光连接必填</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <{else}>
                                                    <!--添加/编辑投放信息-->
                                                    <div class="step-public-block-box">
                                                        <div class="step-public-title-block">投放信息</div>
                                                        <div class="form-group-block-box">
                                                            <div class="form-list-block-box">
                                                                <div class="form-controller">所属网站：</div>
                                                                <div class="form-input-block">
                                                                    <select name="select-store-id" id="select-store-id">
                                                                        <{foreach $store_lists item=store key=i}>
                                                                            <option value="<{$store.shop_id}>">
                                                                                <{$store.shop_title}>
                                                                            </option>
                                                                            <{/foreach}>
                                                                    </select>
                                                                </div>
                                                                <div class="form-tip-block">投放所属网站</div>
                                                            </div>
                                                            <div class="form-list-block-box">
                                                                <div class="form-controller">投放名称：</div>
                                                                <div class="form-input-block">
                                                                    <input type="" name="plan-name" value="" id="plan-name" placeholder="投放名称" />
                                                                </div>
                                                                <div class="form-tip-block">投放名称必填</div>
                                                            </div>
                                                            <div class="form-list-block-box">
                                                                <div class="form-controller">每日预算：</div>
                                                                <div class="form-input-block">
                                                                    <input type="" name="budget-value" value="" id="budget-value" placeholder="每日预算" />
                                                                </div>
                                                                <div class="form-tip-block">每日预算(如：200)，不填则为不限</div>
                                                            </div>
                                                            <div class="form-list-block-box">
                                                                <div class="form-controller">时间范围：</div>
                                                                <div class="form-input-block"><a href="javascript:void(0);" class="select-time-buts" title="选择时间范围"><i class="fa fa-calendar"></i></a>
                                                                    <input type="" name="hook-time-but" value="" id="hook-time-but" placeholder="选择时间范围，格式为YYYY-MM-DD - YYYY-MM-DD" readonly="readonly" />
                                                                </div>
                                                                <div class="form-tip-block">选择时间范围，格式为YYYY-MM-DD - YYYY-MM-DD</div>
                                                            </div>
                                                            <div class="form-list-block-box">
                                                                <div class="form-controller">策略类型：</div>
                                                                <div class="form-input-block">
                                                                    <select name="device-type" id="device-type">
                                                                        <option value="-1">请选择策略类型</option>
                                                                        <option value="0">不限设备</option>
                                                                        <option value="1">PC</option>
                                                                        <option value="2">WAP</option>
                                                                        <option value="3">APP</option>
                                                                        <option value="4">Native</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-tip-block">此类型为下一步要创建的策略的类型，关系到投放的结果。</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <{/if}>
                                    </div>
                                    <div class="buts-block-box">
                                        <{if $action eq 'strategy' and $step eq 2}>
                                            <a href="/launchMange/lists/campaign/launch" class="callback-lists-buts">返回列表</a>
                                            <a href="javascript:void(0);" class="submit-buts save-and-confirm-buts" data-type="2">保存并创建创意&nbsp;&nbsp;<i class="fa fa-caret-right m3"></i></a>
                                            <a href="javascript:void(0);" class="submit-buts save-buts" data-type="1">保存</a>
                                            <{elseif $action eq 'creative' and $step eq 3}>
                                                <a href="/launchMange/lists/campaign/launch" class="submit-buts callback-lists-buts">返回列表</a>
                                                <a href="javascript:void(0);" class="submit-buts save-and-confirm-buts" data-type="2">保存并下一步&nbsp;&nbsp;<i class="fa fa-caret-right m3"></i></a>
                                                <{else}>
                                                    <a href="/launchMange/lists/campaign/launch" class="callback-lists-buts">返回列表</a>
                                                    <a href="javascript:void(0);" class="submit-buts save-and-confirm-buts" data-type="2">保存并创建策略&nbsp;&nbsp;<i class="fa fa-caret-right m3"></i></a>
                                                    <a href="javascript:void(0);" class="submit-buts save-buts" data-type="1">保存</a>
                                                    <{/if}>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- contentpanel -->
                    <{include file="common/footerbar.html" }>
            </div>
            <!-- <div id="upload-file-mske-layer"></div>
            <div id="upload-file-box"><input type="file" id="upliad-file-buts" name="upliad-file-buts" /></div> -->
            <!-- mainpanel -->
    </section>
    <script type="text/javascript" src="/resources/js/libarays/bootstrap.min.js"></script>
    <script type="text/javascript" src="/resources/js/libarays/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="/resources/js/libarays/toggles.min.js"></script>
    <script type="text/javascript" src="/resources/js/libarays/jquery.cookies.js"></script>
    <script type="text/javascript" src="/resources/js/libarays/custom.js"></script>
    <{if $action eq 'strategy' and $step eq 2}>
        <script type="text/javascript" src="/resources/js/labelMarket.js"></script>
    <{elseif $action eq 'creative' and $step eq 3}>
        <!-- <script type="text/javascript" src="/resources/js/libarays/zyupload/js/zyUpload.js"></script>
        <script type="text/javascript" src="/resources/js/libarays/zyupload/zyFile.js"></script> -->
        <script type="text/javascript" src="/resources/js/libarays/ajaxfileupload.js"></script>
    <{else}>
        <script type="text/javascript" src="/resources/js/libarays/laydate/laydate.js" charset="utf-8"></script>
    <{/if}>
    <script>
    jQuery(document).ready(function() {
        // new labelMarket($,local_tags).main();
        $('input').on('focus', function() {
            $(this).css('border-color', '#c1c1c1');
        });

        $('select').on('focus', function() {
            $(this).css('border-color', '#c1c1c1');
        });

        // var insl = laydate.render({
        //     elem: '#hook-time-but',
        //     range: '~',
        // });

        var data = {};

        $('.submit-buts').on('click', function() {
            switch (fn.toLowerCase()) {
                case 'strategy':
                    break;
                case 'creative':
                    break;
                default:
                    if ($('#select-store-id').val() == '') {
                        $('#select-store-id').css('border-color', '#F00');
                    } else {
                        data.shop_id = $('#select-store-id').val();
                    }
                    if ($('#plan-name').val() == '') {
                        $('#plan-name').css('border-color', '#F00');
                    } else {
                        data.plan_name = $('#plan-name').val();
                    }
                    if ($('#budget-value').val() == '') {
                        data.budget = 0;
                    } else {
                        data.budget = $('#budget-value').val();
                    }
                    if ($('#device-type').val() == '-1') {
                        $('#device-type').css('border-color', '#F00');
                    } else {
                        data.device = $('#device-type').val();
                    }
                    if ($('#hook-time-but').val() == '') {
                        $('#hook-time-but').css('border-color', '#F00');
                    } else {
                        var timer = $('#hook-time-but').val().split(' ~ ');
                        data.startdate = timer[0];
                        data.enddate = timer[1];
                    }
                    if ($('#hook-time-but').val() == '') {
                        $('#hook-time-but').css('border-color', '#F00');
                    } else {

                    }
                    break;
            }
            console.log(data);
            // post_data(url,data,function(res){
            //     console.log(res);
            // },function(err){
            //     console.error(err);
            // });
        });

        $('.creative-source-switch-buts').on('click',function(){
            var index = $(this).index();
            $('.creative-source-switch-buts').css('background','url(/resources/images/radio_bg.png) no-repeat 0 10px').attr('data-is-checked',false);
            $(this).css('background','url(/resources/images/radio_checked_bg.png) no-repeat 0 10px').attr('data-is-checked',true);
            $('.add-creative-block').css('display','none');
            $('.add-creative-block').eq(index).css('display','block');
        });

        $(document).on('change','#upload-file-but',function(){
            // $(this).val($(this).val());
            console.log($(this).val());
            $.ajaxFileUpload({
                type: "POST",  
                url: "/creativeMange/upload_files",  
                data:null,//要传到后台的参数，没有可以不写  
                secureuri : false,//是否启用安全提交，默认为false  
                fileElementId:'upload-file-but',//文件选择框的id属性  
                dataType: 'json',//服务器返回的格式  
                async : false,  
                success: function(data){ 
                    console.log(data);
                    // if(data.result=='success'){  
                    //     //coding  
                    // }else{  
                    //     //coding  
                    // }  
                },  
                error: function (data, status, e){  
                    console.log(data);
                    console.log(status);
                    console.log(e);
                }  
            });  
        });

        

        function post_data(url, data, suc, err) {
            $.ajax({
                url: url,
                type: 'POST',
                data: data,
                success: suc,
                error: err
            });
        }
    });
    </script>
</body>

</html>