<!DOCTYPE html>
<html>

<head>
    <{include file="common/header.html" }>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <section>
        <{include file="common/leftpanel.html" }>
            <!-- leftpanel -->
            <div class="mainpanel">
                <{include file="common/headerbar.html" }>
                    <!-- headerbar -->
                    <div class="pageheader">
                        <h2><i class="fa fa-paper-plane"></i>首页<span>活动管理</span> <span>创意管理</span></h2>
                        <div class="breadcrumb-wrapper">
                            <div class="select-brands-title">品牌选择：</div>
                            <div class="select-brands-but">全部</div>
                            <div class="brands-lists-block" style="display:none;">
                                <div class="brands-lists" data-shop-id="">全部</div>
                                <{foreach $store_lists item=store key=i}>
                                    <div class="brands-lists" data-shop-id="<{$store.shop_id}>"><{$store.shop_title}></div>
                                <{/foreach}>
                            </div>
                        </div>
                    </div>
                    <div class="contentpanel">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="page-title">创意管理</div>
                                <div class="add-but-block"><a class="add-buts but-24ac45" href="javascript:void(0);"><i class="fa fa-plus-circle ml10 mr4"></i>新增创意</a></div>
                                <div class="space-box"></div>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped" id="table2">
                                        <thead>
                                            <tr>
                                                <th>用户ID</th>
                                                <th>记录</th>
                                                <th>描述</th>
                                                <th>IP</th>
                                                <th>时间</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- contentpanel -->
                    <{include file="common/footerbar.html" }>
            </div>
            <!-- mainpanel -->
            
    </section>
    <script src="/resources/js/libarays/bootstrap.min.js"></script>
    <script src="/resources/js/libarays/jquery.sparkline.min.js"></script>
    <script src="/resources/js/libarays/toggles.min.js"></script>
    <script src="/resources/js/libarays/jquery.cookies.js"></script>
    <script src="/resources/js/libarays/custom.js"></script>
    <script>
    jQuery(document).ready(function() {
        $(document).on('click','.select-brands-but',function(e){
            e.stopPropagation();
            $('.brands-lists-block').css('display','block');
        });
        $(document).on('click','.brands-lists',function(e){
            $('.select-brands-but').html($(this).html()).attr('data-shop-id',$(this).attr('data-shop-id'));
            $('.brands-lists-block').css('display','none');

        });
        $(document).on('click',function(){
            $('.brands-lists-block').css('display','none');
        });
    });
    </script>
</body>

</html>