<!DOCTYPE html>
<html>
<head>
    <{include file="common/header.html"}>
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <section>
        <{include file="common/leftpanel.html"}>
        <!-- leftpanel -->
        <div class="mainpanel">
            <{include file="common/headerbar.html"}>
            <!-- headerbar -->
            <div class="pageheader">
                <h2><i class="fa fa-tasks"></i>首页<span>店铺管理</span> <span>店铺列表</span></h2>
                <div class="breadcrumb-wrapper">
                    <span class="label">在这里</span>
                    <ol class="breadcrumb">
                        <li><a href="https://www.adlinkx.com">返回</a></li>
                        <li class="active">首页</li>
                    </ol>
                </div>
            </div>
            <div class="contentpanel">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="page-title">帐号列表</div>
                                <div class="add-but-block"><a class="export-buts but-0781ec" href="/store/add/store/lists"><i class="fa fa-plus-circle ml10 mr4"></i>添加店铺</a></div>
                                <div class="space-box"></div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="table2">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>广告主</th>
                                        <th>店铺名称</th>
                                        <th>店铺地址</th>
                                        <th>联系人</th>
                                        <th>联系电话</th>
                                        <th>帐户余额</th>
                                        <th>所属渠道</th>
                                        <th>昨日消耗</th>
                                        <th>今日消耗</th>
                                        <th>总消耗帐金额</th>
                                        <th>总消耗点击</th>
                                        <th>添加时间</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <{foreach $store_lists item=store key=i}>
                                        <tr>
                                            <td colspan="" rowspan="" headers=""><{$i}></td>
                                            <td colspan="" rowspan="" headers=""><{$store.username}></td>
                                            <td colspan="" rowspan="" headers=""><{$store.shop_title}></td>
                                            <td colspan="" rowspan="" headers=""><a href="<{$store.website}>" target="_blank"><{$store.website}></a></td>
                                            <td colspan="" rowspan="" headers=""></td>
                                            <td colspan="" rowspan="" headers=""><{$store.phone}></td>
                                            <td colspan="" rowspan="" headers=""><{$store.money}></td>
                                            <td colspan="" rowspan="" headers="">领效</td>
                                            <td colspan="" rowspan="" headers="">0.0</td>
                                            <td colspan="" rowspan="" headers="">0.0</td>
                                            <td colspan="" rowspan="" headers="">0.0</td>
                                            <td colspan="" rowspan="" headers="">0</td>
                                            <td colspan="" rowspan="" headers=""><{$store.update_time}></td>
                                        </tr>
                                    <{/foreach}>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- contentpanel -->
            <{include file="common/footerbar.html"}>
        </div>
        <!-- mainpanel -->
    </section>
    <script src="/resources/js/libarays/bootstrap.min.js"></script>
    <script src="/resources/js/libarays/jquery.sparkline.min.js"></script>
    <script src="/resources/js/libarays/toggles.min.js"></script>
    <script src="/resources/js/libarays/jquery.cookies.js"></script>
    <script src="/resources/js/libarays/custom.js"></script>
    <script>
    jQuery(document).ready(function() {

        

    });
    </script>
</body>

</html>

